<p>
    Display limit : 
       <input type="range" 
              min=1 max={{totalDocs}} value=10 
              [(ngModel)]="limit"
              (change)="getTeachers()"
       /> {{limit}}
</p>
<mat-divider></mat-divider>
<mat-grid-list cols="3" rowHeight="150">
    <mat-grid-tile *ngFor="let item of teachers">
        <mat-card>
        <mat-card-header>
            <div mat-card-avatar>
                <img mat-card-avatar [src]="item.picture" alt="Card Image">
                </div>
            <mat-card-title>{{ item.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            Email : {{ item.email }}
        </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>
<p>
    Teachers total number {{totalDocs}}, displayed: {{limit}}
</p>
  