<h2>{{titre}}</h2>

<main class="container">
    <nav class="ajouterBtn">
        <a routerLink="/add">
            <button mat-flat-button color="accent"> Ajouter Assignment
            </button>
        </a>
    </nav>
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport" #scroller>
    <mat-list *cdkVirtualFor="let a of assignments">
        <a routerLink="/assignments/{{a.id}}">
            <h3 mat-subheader>Date limite: {{a.dateDeRendu | date: 'dd/MM/yy'}}</h3>
            <mat-list-item>
                <p appRendu *ngIf="a.rendu; else nonsoumis">
                    {{a.nom}} id = {{a._id}}
                </p>
                <ng-template #nonsoumis>
                    {{a.nom}} NON RENDU id = {{a._id}}
                </ng-template>
            </mat-list-item>
            <mat-divider></mat-divider>
        </a>
    </mat-list>
</cdk-virtual-scroll-viewport>

<!-- 
    <mat-divider></mat-divider>
    <p>
        Nb assignments total {{totalDocs}}, par page {{limit}}, nbPages {{totalPages}}
    </p>
    <p>
        Régler nb par page : 
           <input type="range" 
                  min=1 max=100 value=10 
                  [(ngModel)]="limit"
                  (change)="getAssignments()"
           /> {{limit}}
    </p>
<p>
    <button (click)="premierePage()" [disabled]="!hasPrevPage">
        Première page
    </button>
    <button (click)="pagePrecedente()" [disabled]="!hasPrevPage">
        Page Précédente
    </button>
    <button (click)="pageSuivante()" [disabled]="!hasNextPage">Page Suivante</button>
    <button (click)="dernierePage()" [disabled]="!hasNextPage">
        Derniere page
    </button>
</p>
    <mat-list *ngFor="let a of assignments">
        <a routerLink="/assignments/{{a.id}}">
            <h3 mat-subheader>Date limite: {{a.dateDeRendu | date: 'dd/MM/yy'}}</h3>
            <mat-list-item>
                <p appRendu *ngIf="a.rendu; else nonsoumis">
                    {{a.nom}} id = {{a._id}}
                </p>
                <ng-template #nonsoumis>
                    {{a.nom}} NON RENDU id = {{a._id}}
                </ng-template>
            </mat-list-item>
            <mat-divider></mat-divider>
        </a>
    </mat-list>
    -->
</main>