<h2>{{titre}}</h2>

<form ngForm #assignmentForm (submit)="onSubmit($event); assignmentForm.reset()" class="form">

    <mat-form-field>
        <input matInput [(ngModel)]="nomDevoir" name="nom" placeholder="Nom du devoir" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Date de rendu</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="dateDeRendu" name="date" required>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button [disabled]="!ajoutActive" mat-stroked-button color="primary">
        Ajouter un devoir
    </button>
</form>
<mat-divider></mat-divider>

<mat-list *ngFor="let a of assignments">
    <h3 mat-subheader>{{a.dateDeRendu | date: 'dd/MM/yy'}}</h3>
    <mat-list-item (click)="onAssignmentClique(a)">
        <p appRendu *ngIf="a.rendu; else nonsoumis">
            {{a.nom}}, rendu : {{a.rendu}}
        </p>
        <ng-template #nonsoumis>
            {{a.nom}} NON RENDU, date limite : {{a.dateDeRendu}}
        </ng-template>
    </mat-list-item>
    <mat-divider></mat-divider>

</mat-list>
<app-assignment-detail [assignmentTransmis]="assignmentSelectionne"></app-assignment-detail>