<main class="container">
  <nav class="ajouterBtn">
    <a (click)="addAssignment()">
      <button mat-flat-button color="accent">
        <mat-icon>add-icon</mat-icon>
        Ajouter assignment
      </button>
    </a>
  </nav>
  <p class="p">
    Régler nombre par page :
    <input
      type="range"
      min="1"
      max="{{ totalDocs }}"
      value="10"
      [(ngModel)]="limit"
      (change)="getAssignments()"
    />
    {{ limit }}
  </p>
  <mat-divider></mat-divider>
  <div class="drag-and-drop-container">
    <div class="drag-and-drop-section not-submitted">
      <h2 class="section-title">Not submitted assignments</h2>
      <div
        cdkDropList
        #notSubmittedAssignmentsList="cdkDropList"
        (cdkDropListDropped)="onDrop($event)"
        [cdkDropListData]="notSubmittedAssignments"
        [cdkDropListConnectedTo]="[submittedAssignmentsList]"
        class="assignment-container"
      >
        <mat-grid-list cols="2" rowHeight="250">
          <mat-grid-tile
            *ngFor="let assignment of notSubmittedAssignments"
            cdkDrag
          >
            <mat-card class="assignment-card card">
              <mat-card-header>
                <img
                  mat-card-avatar
                  src="https://material.angular.io/assets/img/examples/shiba1.jpg"
                  alt="Shiba Inu"
                />
                <mat-card-title>{{ assignment.nom }}</mat-card-title>
                <mat-card-subtitle>{{
                  convertDateFormat(assignment.dateDeRendu.toString())
                }} | Student : {{assignment.idStudent}}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p>{{ assignment.comment }}</p>
                <p>Score : {{ assignment.score }}/20</p>
                <mat-divider></mat-divider>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button (click)="editAssignment(assignment)">
                  <mat-icon color="primary">edit-icon</mat-icon>
                </button>
                <button mat-button (click)="deleteAssignment(assignment)">
                  <mat-icon color="accent">delete-icon</mat-icon>
                </button>
              </mat-card-actions>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card class="add-new-card" (click)="addAssignment()">
              <mat-card-content>
                <mat-icon class="add-new-icon">add-icon</mat-icon>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>

    <div class="drag-and-drop-section submitted">
      <h2 class="section-title">Submitted assigments</h2>
      <div
        cdkDropList
        #submittedAssignmentsList="cdkDropList"
        (cdkDropListDropped)="onDrop($event)"
        [cdkDropListData]="submittedAssignments"
        [cdkDropListConnectedTo]="[notSubmittedAssignmentsList]"
        class="assignment-container"
      >
        <mat-grid-list cols="2" rowHeight="250">
          <mat-grid-tile
            *ngFor="let assignment of submittedAssignments"
            cdkDrag
          >
          <mat-card class="assignment-card card">
            <mat-card-header>
              <img
                mat-card-avatar
                src="https://material.angular.io/assets/img/examples/shiba1.jpg"
                alt="Shiba Inu"
              />
              <mat-card-title>{{ assignment.nom }}</mat-card-title>
              <mat-card-subtitle>{{
                convertDateFormat(assignment.dateDeRendu.toString())
              }} | Student : {{assignment.idStudent}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>{{ assignment.comment }}</p>
              <p>Score : {{ assignment.score }}/20</p>
              <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="editAssignment(assignment)">
                <mat-icon color="primary">edit-icon</mat-icon>
              </button>
              <button mat-button (click)="deleteAssignment(assignment)">
                <mat-icon color="accent">delete-icon</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>
  <p class="p">Nombre assignments total {{ totalDocs }}, Affichés: {{ limit }}</p>
</main>
