.container {
    display:flex;
    flex-direction:column;
}

.ajouterBtn {
    align-self: flex-end;
    margin: 20px
}

.example-viewport {
    height: 600px;
    width: 1600px;
    border: 1px solid black;
  }
  
  .example-item {
    height: 150px;
  }

  .demo-table {
    width: 100%;
  }
  
  .mat-column-id {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
  }
  
  .mat-column-nom {
    padding-left: 16px;
    font-size: 20px;
  }
  
  .mat-column-dateDeRendu {
    font-style: italic;
  }
  
  .mat-column-rendu {
    width: 32px;
    text-align: center;
    font-weight: bold;
  }

  .assignment-card {
    cursor: move;
    cursor: grab;
  }

  .add-new-card{
    cursor: pointer;
    height: 200px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.75;
  }

  .card{
    height: 225px;
    width: 275px;
  }


  .add-new-card:hover{
    opacity: 1;
    height: 225px;
    width: 275px;
  }

  .assignment-card:active {
      cursor: grabbing;
  }

  .drag-and-drop-container{
    display: flex;
    justify-content: center;
  }

  .drag-and-drop-section{
    flex-grow: 1;
    padding-right: 30px;
    padding-left: 30px;
    margin: 10px;
    border-radius: 10px;
  }

  .submitted{
    background-color: #b3d5cd;
  }

  .not-submitted{
    background-color: #efc3c3;
  }

  .section-title{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }

  .mat-mdc-snack-bar-container {
    &.blue-snackbar {
      --mdc-snackbar-container-color: #2196f3;
      --mat-mdc-snack-bar-button-color: #fff;
      --mdc-snackbar-supporting-text-color: #fff;
    }
  }
  