.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mat-stepper-vertical {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }

  .error-snackbar {
    background-color: #ff0000; /* Replace with your desired background color */
    color: #ffffff; /* Replace with your desired text color */
  }

  .success-snackbar {
    background-color: #03a87f; /* Replace with your desired background color */
    color: #ffffff; /* Replace with your desired text color */
  }

  .add-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }

  .btn{
    margin-right: 30px;
    margin-left: 30px;
  }